/Lectures/Week1/cats_and_dogs.h5
/Assignments/Assignment1-Hand-Gesture-Detection-in-TheRock-Paper-Scissor-Game/rps_model.h5
/Assignments/Assignment1-Hand-Gesture-Detection-in-TheRock-Paper-Scissor-Game/tmp/rps.zip
/Assignments/Assignment1-Hand-Gesture-Detection-in-TheRock-Paper-Scissor-Game/tmp/rps-test-set.zip
/Lectures/Week2/data/cifar-10-python.tar.gz
/Lectures/Week2/datasets
/Lectures/Week2/data